.git/
back/.idea/
back/calculator/bin/
back/calculator/obj/
back/calculator/Properties
back/calculator/appsettings.Development.json
back/calculator/appsettings.json
front/.idea/
back/calculator/appsettings
